.env
node_modules
https://media-hosting.imagekit.io//321e355bc6184d0f/logo.png?Expires=1831382672&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=uxj3p39ps-KfHI4hXOVBSEJZ9D5fLFRYWxKFLE~YYHqr-5v9JruXfEI0e6gwW1M164Hfbkt-FIJdRa3WDMa24ZWGTe1gJJ04N0AgU9wLZM4-6~~btFvEU~m47lyhrZvuryjAiKoSeI8J5~8dtJHUndgFMXh6-qu0ocU4LgCWBUZwjhhQ2jhabucelcE-rFnAekF9Agzq82Re-AeUNGbxpG~~44GG7I1-Vx0nvMM7dgGdMISpb1sKYsbzyrrH5rxu9S7CX99I8DNhkYxx6eEbS-w~f5Ip2bQJ~g-Lw23Kllnq0YVm1kyWYUUcl9A5h009Oy6tBiBDUwx2l3r4RJR-Aw__